html,body{
  width: 100vw;
  height: 100%;
  background-color: #e8f5e9;
 overflow-x: hidden;
}



* {
  box-sizing: border-box;
  
 }


.main{
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
    position:relative;
}

.layout{
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
}

@media(min-width: 768px){
  .layout{
    vertical-align: middle;
    }
}
@media(min-width: 992px){}


                        /*------upper menu-----*/

.upper-menu{
 
  width: 100vw;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #37474F;
}
.upper-menu >li:last-child{
  position: relative;
  left:55px;
}
.upper-menu >li{
  display: inline-block;
  position: relative;
  float: left;
  margin-left: -5px;
  text-align: center;
}
.upper-menu a{
  min-width: 60px;
  display: block;
  min-height: 25px;
  text-decoration: none;
  padding: 4px 4px;
  color: #ffffff;
  background-color: #37474F;
}
.upper-menu >li>a:hover{
  background-color: #546E7A;
}
.upper-menu .sub-menu{
  position: absolute;
  display:none;
  padding-left: 0;
  z-index: 3;
  
  top: 32px;
  z-index: 100;
}
.upper-menu .sub-menu >li{
  display: block;
  text-align: left;
  list-style: none;
  color:white;
  min-width: 150px;
  min-height: 25px;
  background-color: #37474F;

}
.upper-menu .sub-menu a{
  display: block;
  padding: 4px 20px;
  margin: 0;
}
div.upper-menu.clearfix{
    
    z-index:10;
}
.upper-menu .sub-menu > li:last-child a{
  padding-bottom: 10px;
}
.upper-menu .sub-menu > li>a:hover{
  background-color: #546E7A;
}
.upper-menu > li:hover .sub-menu{
  display:block;
}
.mdl-layout__drawer-button{
  color: white;
  margin: 0;
  height: 33px;
  width: 55px;
  line-height: 36px;
  position: relative;
}
.mdl-layout__obfuscator{
  overflow: hidden;
}
.mdl-layout__drawer-button:hover{
  background-color: #546E7A;
}
.mdl-layout__drawer{
  background-color: #37474F;
  border: none;

}
.mdl-layout__drawer img{
  padding-right: 15px;
  margin-left:40px;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  color:white;
  padding-left:0;
  text-align:left;

}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover{
  background-color: #546E7A;
}
.mdl-layout__drawer .mdl-navigation{
  padding-top: 0;
}
.mdl-layout__drawer .mdl-layout-title{
  width: 100%;
  padding: 20px;
}
.asap{
  width:40%;
  height:40%;
}
.mdl-layout__drawer .mdl-layout-title img{
  float:right;
}
.upper-menu .mdl-layout__drawer-button {
  position: absolute;
  /*left: 15px;
  top: 5px;
  z-index: 200;*/
}









/* ---- grid ---- */

.grid {
  background: #e8f5e9;
  max-width: 100%;
}
div.grid{
    margin-left:20px;
}
/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  width: 160px;
  height: 120px;
  float: left;
  background: #AED581;
  border: 2px solid #DCEDC8;
  border-radius: 5px;
  text-align: center;
  
}
.grid-item > span {
    display: block;
    position: relative;
    padding: 0 10px;
    padding-top: 40px;
    margin:0 auto;
    width: 100%;
    min-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;   
    line-height: normal;   
}

.grid-item .spanName{
    display:inline-block;
    vertical-align:middle;
    
    
}
.grid-item  .spanLink{
    position: absolute;
    bottom: 25px;
    right: 15px;
    max-width: 50%;
    overflow: hidden;
    text-align:right;
    text-overflow:ellipsis;

}


 .grid-item .spanDel {
        position: absolute;
        top:10px;
        right:15px;
        z-index:1000;
    }


.grid-item  a{
    display: none;
    color: #F1F8E9;
    text-decoration:none;
}
.grid-item:hover a{
    color: #F1F8E9;
}

.grid-item--width2 { width: 320px; font-size: 16px; }
.grid-item--width3 { width: 380px; font-size: 22px; }
.grid-item--width4 { width: 420px; font-size: 28px; }

.grid-item--height2 { height: 200px; font-size: 16px; }
.grid-item--height3 { height: 260px; font-size: 22px; }
.grid-item--height4 { height: 300px; font-size: 28px; }

.update{
    display:block; 
}
.grid-item--gigante {
  width: 320px;
  height: 300px;
  font-size: 30px;
  background-color: #8BC34A;
  border: 2px solid #7CB342;
  z-index: 2;

}

.grid-item:hover {
  background: #B2FF59;
  border-color: #CCFF90;
  cursor: pointer;
}

.grid-item #addDashboard{
    background-color: #9CCC65;
}
.grid-item #addDashboard:hover{
    background-color: #64DD17;
}

.jumbotron {
    background:  url('../img/flower.jpg') no-repeat center center;
    background-size: cover;
    text-align:center;
    color: white;
    
}

.jumbotron .container, h1{
   font-family: 'Raleway', sans-serif;
   font-weight: 300;
   padding: 6.5%;
  }
.jumbotron input{
    background-color:transparent;
    border:1px solid white;
}
.jumbotron input:hover{
    background-color:transparent;
    border:inherit;
}

.addTable{
    margin-top: 20px;
}
.addTable input[type="text"]{
    display: inline-block;
    margin-right:20px;
    max-width: 25%;
}

#calendar{
    max-width:90%;
    margin: 0 auto;
}
/*calendar table - general*/
.fc th, .fc td{
    background-color: #C8E6C9;
    border: 1px solid #F1F8E9;
}
.fc-unthemed .fc-today{
    background-color: #CCFF90;
}
.fc th{
    background-color: #A5D6A7;
}
.addEventCalendar{
    margin: 5px;

}

.fc-state-default{
    background-image: -moz-linear-gradient(top, #E8F5E9, #C8E6C9);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#E8F5E9), to(#C8E6C9));
    background-image: -webkit-linear-gradient(top, #E8F5E9, #C8E6C9);
    background-image: -o-linear-gradient(top, #E8F5E9, #C8E6C9);
    background-image: linear-gradient(to bottom, #E8F5E9, #C8E6C9);
}

.fc-toolbar .fc-state-active,
.fc-toolbar .ui-state-active{
    z-index:2;
    background-image:none;
    background-color:#A5D6A7;
    border:1px solid #81C784;
}
.fc-event{
    background-color: #8BC34A;
    border:2px solid #7CB342;
    }
.fc-content{
    text-align:left;
    padding-left:5px;
}
a.fc-more{
    margin-left: 20px;
}
span.closeon{
    margin-left: 5px;
}
.fc-unthemed .fc-popover .fc-header{
    background-color: #A5D6A7;
}
a.fc-more{
    color:black;
    text-decoration:none;
}


.alignbutton {
    display: inline-block;
    margin-right: 25px;
    margin-left: 25px;
}
  .form-group .dashName{
      max-width: 75%;
      box-sizing:border-box;
      background-color: #A5D6A7;
      border: 1px solid #81C784;
      margin: 0 auto;
  }
  .form-group #dashName:hover{
      border:1px solid #80CBC4;
      background-color:#B2DFDB ;
  }

  div.update-personal-info{
      margin: 25px auto;
      max-width: 50%;
  }
  div.upload-form-lectures{
      max-width:75%;
      margin: 25px auto;
  }
  .upload-form-lectures .multiple-select-block{
      margin:0 auto;
  }
 
  div.upload-form-lectures select{
      margin-right:15px;
      min-width:100px;    
  }
  div.upload-form-lectures select option{
      background-color: #E8F5E9;
     
  }
  div.upload-form-lectures select option[selected]{
      background-color: #C8E6C9;
  }
  div.document-to-download-upper{
      display:table;
      width:100%;
      border:1px solid white;
  }
  div.document-to-download-middle{
      display:table-row;
  }
  div.document-to-download-lower{
/*    border:1px solid white;*/
      border:1px solid #F1F8E9;
      display:table-cell;
      width:25%;
      height:25%;
      margin:5px;
      font-size:22px;
      background-color: #A5D6A7;
  }
  div.document-to-download-lower p{
      margin:5px auto;
      max-width:75%;  
  }
  form.registration-form{
      width:100%;
      
  }
  .registration-block{
      margin: 25px auto;
      max-width: 40%;
  }
  div.wraper{
      /*height: 100%;*/
      /*width: 300px;*/
      box-sizing: border-box;
      display:inline-block;
      vertical-align:top;
      height: 100vh;
      /*white-space:nowrap;*/
  }

  #create_table{
      overflow-x: hidden;
  }
  ul.table{
      background-color: #C8E6C9;
      border: 1px solid #B9F6CA;
      margin:5px;
      
      max-width: 300px;
      
  }
.outer {
    width: 100vw;
    overflow-x: scroll;
    overflow-y: hidden; 
}
.inner{

    white-space:nowrap;
}