html,body{
  width:100%;
  height:100%;
  background-color: #E8F5E9;

}
body{
  text-align: center;
}
.main{
  display:table;
  width:100%;
  height:100%;
  min-height: 100%;
  }
.layout{
  display:table-cell;
  vertical-align: middle;
}
.intro-container{
  margin-right: auto;
  margin-left: auto;
}
.authorization{
  padding: 0 20px;
}

@media(min-width: 768px){
  .layout{
    vertical-align: middle;
  }
  .intro-container{
    width: 100%;
  }
}
@media (min-width: 992px) {
  .intro-container{
    width: 700px;
  }
}
.regButton{
    position:relative;
    bottom: -100px;
}
input[type="text"],input[type="password"]{
  color: black;
  border: 1px solid #DCEDC8;
  border-radius: 5px;
  min-height: 30px;
  min-width: 200px;
  background-color: #C8E6C9;
  }
  input[type="text"]:hover,
  input[type="password"]:hover{
    border:1px solid #80CBC4;
    background-color:#B2DFDB ;
  }

  input[type="image"]{
    width:25%;
    height: 20%;
    /*-webkit-transition: -webkit-transform .8s ease-in-out;*/
    -ms-transition: -ms-transform .8s ease-in-out;
    /*transition: transform .8s ease-in-out;*/
    }
  input[type="image"]:hover{
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    }


  .btn-primary{
  background-color: #37474F;
  border:none;
  color:white;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus{
  background-color: #546E7A;
  border:none;
}



  .btn-primary.disabled,
  .btn-primary[disabled],
  fieldset[disabled] .btn-primary,
  .btn-primary.disabled:hover,
  .btn-primary[disabled]:hover,
  fieldset[disabled] .btn-primary:hover,
  .btn-primary.disabled:focus,
  .btn-primary[disabled]:focus,
  fieldset[disabled] .btn-primary:focus,
  .btn-primary.disabled.focus,
  .btn-primary[disabled].focus,
  fieldset[disabled] .btn-primary.focus,
  .btn-primary.disabled:active,
  .btn-primary[disabled]:active,
  fieldset[disabled] .btn-primary:active,
  .btn-primary.disabled.active,
  .btn-primary[disabled].active,
  fieldset[disabled] .btn-primary.active{
      background-color: #90A4AE;
  }
  #create_dashboard{
    padding-top:15px;
    padding-left:10px;
    padding-right:10px;
}
  .form-group h4{
      vertical-align: middle;
      margin-top: 5px;
  }

.asap{
  margin: 0 auto;
  width:35%;
  height:35%;
}

    /*.btn-new:focus,
    .btn-new:active:focus,
    .btn-new.active:focus{
      outline: 0;
      border:1px solid #80cbc4;}*/
/*.btn:active:focus,.btn.active:focus,.btn:focus{
  outline-color: transparent;
}
.btn:active, .btn.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);}*/
