@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "New dashboard";
}
@model Dashboard_test.ViewModels.DashboardViewModel

<form method="post" action="">
    <table>
        <tr>
            <td>Name</td>
            <td><input asp-for="Name" type="text"/></td>
            <td><input type="submit" value="Create"/></td>
        </tr>
    </table>
</form>