@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Dashboard_test.Models.Table


<ul class="table" id="t-@Model.Id">
    <li>
        <p>@Model.Name</p>
        <div>
            @using (Html.BeginForm("DeleteTable", "Dashboard", new { id = Model.Id, Did = Model.DashboardId }, FormMethod.Post))
            {
                <input type="submit" value="Delete Table" />
            }
        </div>
    </li>
    <li>

        <button class="AddIssue">Create new issue</button>
        <!--<div>
            //using (Html.BeginForm("CreateIssue", "Dashboard", new { id = Model.Id }, FormMethod.Get))
            {
                <input type="submit" value="Create New Issue" />
            }                
        </div>-->        
    </li>

        @foreach (var issue in Model.Issues)
        {
            @Html.Partial("IssueSection", issue)
        }
</ul>
