@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Login";
    Layout = "";
}
@model Diploma.ViewModels.LoginViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description">
    <meta name="author">
    <link rel="shortcut icon" href="">

    <title>
        ASAP - Login
    </title>
    <!--Bootstrap core css-->
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <link href="~/stylesheet/style.css" type="text/css" rel="stylesheet">
</head>
<body>
    <!-- <div class="header">
    </div> -->
    <div class="main">
        <div class="layout">
            <div class="intro-container">
                <div class="authorization">

                    <div class="logo ">
                        <img src="~/img/ASAP.png" class="asap img-responsive" alt=""><br>
                    </div>
                    <form class="form-signin" role="form" method="post">
                        @Html.AntiForgeryToken()
                        <input type="text" asp-for="Username" class="btn" placeholder="Login"><br><br>
                        <input type="password" asp-for="Password" class="btn" placeholder="Password"><br><br>
                        <!-- <img src="enter.png" class="img-responsive btn-primary"> -->
                        <input asp-controller="Account" asp-action="Registration" type="image" src="~/img/enter.png" value="" class=" btn img-responsive ">
                        <br>                      
                    </form>
                    <input type="button" class="btn btn-primary regButton" value="Registrate here" onclick="window.location='@Url.Action("Registration","Account")'"/><br>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
    </div>
</body>
</html>
