@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*<script>$('#calendar').fullCalendar('refetchEvents')</script>*@
    <div id="calendar">
    </div>
    <div>
        <a href="javascript:PopUpShow('create_event',true)">Create Event</a>
    </div>
<div class="overlay">
    @Html.Partial("CreateEvent", new Diploma.ViewModels.CreateEventViewModel())
</div>