@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // ViewBag.Title = "Home Page";
}

    <div class="container">
        <div class="contacts">
        <img src="~/img/asap.png" class="asap" />
        <div>Phone : +380999018156 <br>
            email: lnryzhik@yahoo.com<br><br>
            Phone : +380972538266 <br>
            email: nikolai.korniichuk@gmail.com
        </div>
            </div>
    </div>
