@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "New dashboard";
}
@model Diploma.ViewModels.DashboardViewModel

<div id="create_dashboard" class="popup">
    <a href="javascript:PopUpHide('create_dashboard')">Hide</a>
    <form method="post">
        <table>
            <tr>
                <td>Name</td>
                <td><input asp-for="Name" type="text" /></td>
                <td><input type="submit" value="Create" /></td>
            </tr>
        </table>
    </form>
</div>
