@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "New dashboard";
}
@model Diploma.ViewModels.DashboardViewModel

    <form id="create_dashboard" class="popup" method="post" data-toggle="validator" role="form">
        <div class="form-group">
            <label class="control-label">
                Name
            </label>
            <input asp-for="Name" class="form-control" type="text" required />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <a href="javascript:PopUpHide('create_dashboard')">Hide</a>
    </form>

