@* 
      For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<Diploma.Models.Dashboard>
@{
    ViewBag.Title = "Home Page";
    
}
<a href="javascript:PopUpShow('create_dashboard',true)">Create new one</a>   
 
<div class="overlay">
    @Html.Partial("CreateDashboard", new Diploma.ViewModels.DashboardViewModel())
</div>
<div class="grid"></div>

<script src="~/lib/masonry/dist/masonry.pkgd.js"></script>
<script src="~/javascript/MasonryDashboards.js"></script>
<script>
    var p=@Html.Raw(Json.Serialize(Model));
    CreateMasonry(p);
</script>