@* 
      For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<Diploma.Models.Dashboard>
@{
    ViewBag.Title = "Home Page";
    
}
<div class="overlay">
    @Html.Partial("CreateDashboard", new Diploma.ViewModels.DashboardViewModel())
</div>
<div class="jumbotron" >
    <div class="container">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
</div>
<div class="grid">
    <div class="grid-item" style="display:table" id="addDashboard" onclick="PopUpShow('create_dashboard',true)">
        <p id="addDashboard" style="display:table-cell; vertical-align:middle; font-size: 80px;">+</p>
    </div>
</div>

<script src="~/lib/masonry/dist/masonry.pkgd.js"></script>
<script src="~/javascript/MasonryDashboards.js"></script>
<script>
    var p=@Html.Raw(Json.Serialize(Model));
    CreateMasonry(p);
</script>