@* 
      For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<Diploma.Models.Dashboard>
@{
    ViewBag.Title = "Home Page";
    ViewBag.Popup = @Html.Partial("CreateDashboard", new Diploma.ViewModels.DashboardViewModel());
}
@*@Html.Partial("CreateDashboard", new Diploma.ViewModels.DashboardViewModel())*@
@*<div class="overlay">
    
</div>*@
<div id="fullpage">
<div class="jumbotron section" >
    <div class="container"> 
        <h1>ASAP</h1>
        <p>Manage your ideas and tasks, keep an eye on your calendar events and schedule, learn lectures remotely and always be in the picture. </p>
        <p><input class="btn btn-primary btn-lg" onclick="window.location='@Url.Action("Contacts","Home")'" type="button" role="button" value="Learn more" &raquo;/></p>
    </div>
</div>
<div id="grid" class="grid section">
    <div class="grid-item" style="display:table" id="addDashboard" onclick="PopUpShow('create_dashboard',true)">
        <p id="addDashboard" style="display:table-cell; vertical-align:middle; font-size: 80px;">+</p>
    </div>
</div>
</div>
<script src="~/lib/masonry/dist/masonry.pkgd.js"></script>
<script src="~/javascript/MasonryDashboards.js"></script>
<script>
    var p=@Html.Raw(Json.Serialize(Model));
    CreateMasonry(p);
</script>