@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{    Layout = "_AdminLayout";
}
<form asp-action="CreateGroup" asp-controller="Admin" method="post">
    <input type="text" name="GroupName" />
    <input type="submit" value="Create Group"/>
</form>